# Resume Screener Classification Model on Synthetic Resume Dataset

In [7]:
import pandas as pd
import numpy as np

resume = pd.read_csv('../datasets/ai_resume_screening.csv')

resume

,years_experience,skills_match_score,education_level,project_count,resume_length,github_activity,shortlisted
0,6,84.7,Bachelors,7,234,158,No
1,3,59.1,Masters,5,502,77,No
2,12,100.0,Masters,12,753,381,Yes
3,14,66.8,High School,8,529,407,Yes
4,10,99.6,Bachelors,10,754,331,Yes
...,...,...,...,...,...,...,...
29995,9,77.4,Bachelors,13,691,434,Yes
29996,5,77.8,Bachelors,9,473,149,No
29997,1,64.6,Bachelors,7,247,82,No
29998,7,94.8,Bachelors,12,584,409,Yes
29999,14,77.3,Masters,25,694,790,Yes

# To-do List

[] convert shortlisted to binary

[] columns already properly formatted

[] encode education_level to either a dummy or one-hot

[x] standardize the numeric cols.

[] visualize distributions of features

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

numeric_cols = [
    'years_experience', 'skills_match_score', 'project_count', 'resume_length', 'github_activity'
]

resume[numeric_cols] = scaler.fit_transform(resume[numeric_cols])

In [11]:
resume['shortlisted'] = resume['shortlisted'].apply(lambda x: 1 if x=='Yes' else 0 )

resume

,years_experience,skills_match_score,education_level,project_count,resume_length,github_activity,shortlisted
0,-0.325813,0.657139,Bachelors,-0.786856,-1.894637,-1.045712,0
1,-0.974598,-0.869795,Masters,-1.218451,-0.394975,-1.552123,0
2,0.971758,1.569720,Masters,0.292133,1.009560,0.348482,1
3,1.404281,-0.410522,High School,-0.571058,-0.243889,0.511033,1
4,0.539234,1.545862,Bachelors,-0.139463,1.015155,0.035882,1
...,...,...,...,...,...,...,...
29995,0.322972,0.221724,Bachelors,0.507930,0.662623,0.679837,1
29996,-0.542074,0.245583,Bachelors,-0.355261,-0.557251,-1.101979,0
29997,-1.407121,-0.541742,Bachelors,-0.786856,-1.821892,-1.520863,0
29998,-0.109551,1.259562,Bachelors,0.292133,0.063877,0.523537,1
29999,1.404281,0.215760,Masters,3.097503,0.679410,2.905544,1

In [13]:
# quick look at class dispersion

resume['shortlisted'].value_counts()

shortlisted
1    20966
0     9034
Name: count, dtype: int64

In [ ]:
``